// Typography
$font-family-sans-serif: 'Raleway', sans-serif;

// Breakpoints
$phone: 750px;
$tablet: 1024px;
$desktop: 1300px;

// Colors
$brand-main-color: #b0bc22;
$brand-secondary-color: white;
$brand-tertiary-color: #931ec3;
$brand-accent-color: gold;

$main-font-color: cornsilk;

$main-background-color: #222;
